<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056612506215-lo8vujk8v10km75daoagtsg7e0rc0kmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056612506215-lo8vujk8v10km75daoagtsg7e0rc0kmg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056612506215-b058bmnk3hrtk01gre0h8qj5ikbtbrkc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6-erwiGaMbuLFv5tK7rTM8ikH5n6EGKc</string>
	<key>GCM_SENDER_ID</key>
	<string>1056612506215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.epitech.AniList</string>
	<key>PROJECT_ID</key>
	<string>anilist-67a8a</string>
	<key>STORAGE_BUCKET</key>
	<string>anilist-67a8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056612506215:ios:e1fab9f0659cb6fcfb12c2</string>
	<key>DATABASE_URL</key>
	<string>https://anilist-67a8a-default-rtdb.firebaseio.com</string>
</dict>
</plist>
